<div fxLayout="column" fxFlexFill>
  <div class="content-box">

    <!-- Tabs -->
    <md-tab-group>
      <md-tab label="Pedidos">
        <!-- Header -->
        <md-toolbar color="primary">
          <h2>Pedidos</h2>
          <span class="dash-spacer"></span>

          <h3>Buscar:</h3>
          <md-input-container>
            <input type="text" mdInput placeholder="Pedido" [formControl]="orderCtrl" [mdAutocomplete]="auto">
          </md-input-container>

          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let order of filteredOrders | async" [value]="order.name">
              {{ order.name }}
            </md-option>
          </md-autocomplete>
        </md-toolbar>

        <!-- Lista -->

        <md-toolbar color="primary">
          <h4>Nome</h4>
          <span class="dash-spacer"></span>
          <h4>Tipo</h4>
        </md-toolbar>
        <md-nav-list>
          <div *ngFor="let order of orders | search:orderCtrl.value">
            <md-list-item>
              <span>{{order.name}}</span>
              <span class="dash-spacer"></span>
              <span>{{order.unit}}</span>
            </md-list-item>
          </div>
        </md-nav-list>

        <!-- Button -->
        <md-toolbar class="blend-color">
          <span class="dash-spacer"></span>
          <button md-raised-button (click)="openDialog()">Novo Pedido</button>
        </md-toolbar>
      </md-tab>


      <md-tab label="Listas">


        <!-- Header -->
        <md-toolbar color="primary">
          <h2>Pedidos</h2>
          <span class="dash-spacer"></span>

          <h3>Buscar:</h3>
          <md-input-container>
            <input type="text" mdInput placeholder="Pedido" [formControl]="orderCtrl" [mdAutocomplete]="auto">
          </md-input-container>

          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let order of filteredOrders | async" [value]="order.name">
              {{ order.name }}
            </md-option>
          </md-autocomplete>
        </md-toolbar>

        <!-- Lista -->

        <md-toolbar color="primary">
          <h4>Nome</h4>
          <span class="dash-spacer"></span>
          <h4>Tipo</h4>
        </md-toolbar>
        <md-nav-list>
          <div *ngFor="let order of orders | search:orderCtrl.value">
            <md-list-item>
              <span>{{order.name}}</span>
              <span class="dash-spacer"></span>
              <span>{{order.unit}}</span>
            </md-list-item>
          </div>
        </md-nav-list>

        <!-- Button -->
        <md-toolbar class="blend-color">
          <span class="dash-spacer"></span>
          <button md-raised-button (click)="openDialog()">Novo Pedido</button>
        </md-toolbar>



      </md-tab>
    </md-tab-group>





  </div>
</div>