.content-box {
    width: 95%;
    height: inherit;
    margin: auto;
}

md-nav-list{
    border: 2px gray solid;
    border-top: 0px;
    height: 75%;
    overflow-y: visible;
}

md-tab-group {
    height: inherit;
}


md-input-container{
    margin: 8px 5px 0px 8px;
}

button {
    margin: 10px;
}

.dash-spacer {
  flex: 1 1 auto;  
}

.blend-color {
    background-color: #303030;
}

